**
!.cargo/
!.cargo/**
!Cargo.lock
!Cargo.toml
!Dockerfile
!LICENSE
!README.md
!grammar/
!grammar/**
!scripts/
!scripts/**
!src/
!src/**
!tests/
!tests/**
!tools/
!tools/**
tools/**/target/
tools/**/target/**
